.navbar-brand {
  padding: 0px;
  background-color: #cee3f8;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.container-fluid {
  background-color: #cee3f8;
}

.a {
  color: #30659B;
}
h1 { 
  float: right !important;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      height:auto;
      margin: auto;
  }
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: red !important;
    background-color: white !important;
    border:1px solid;
    border-color:#6995c1;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #6995c1 !important;
    background-color: transparent;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #6995c1 !Important;
}
